.lista-opciones label{
    display: block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color: rgb(0, 0, 0);
}

.lista-opciones{
    width: 80%;
    margin: 0 auto;
}
.lista-opciones select{
    margin: 10px auto ;
    width: 100%;
    background-color: #ecfce7;
    box-shadow: 2px 2px 4px rgb(158, 158, 158);
    padding: 24px;
    border: none;
    outline: none;
    font-size: 20px;
    color: rgb(134, 134, 134);
    border-radius: 10px;
}