.categoria{
    width: 90%;
    margin: 30px auto;
    height: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(158, 158, 158);;
    font-family: 'Dancing Script', cursive;
    font-size: 45px;
    font-weight: bolder;
    text-align: center;
    color: black;
}

.categoria h2{
    background: white;
    padding: 10px;
}